In [1]:
import requests 
from bs4 import BeautifulSoup 
import random 
import pandas as pd 
import time

In [2]:
title = "AI Demand in Malaysia" 
location = "Malaysia"

In [67]:

list_url = "https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Artificial%2BIntelligence%2B%28AI%29&location=Malaysia&start=275"

response = requests.get(list_url) 

list_data = response.text 
list_soup = BeautifulSoup(list_data, "html.parser")
page_jobs = list_soup.find_all("li")

In [ ]:
id_list = []

In [68]:


for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card"}) 
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4207354507
4121973276
4207718641
4216348528
4200582561
4171249127
4211025567
4210965957
4200265645
4206540763

In [69]:
job_list = []

for job_id in id_list:
    job_url = f"https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}"
    job_response = requests.get(job_url) 
    print(job_response.status_code) 
    job_soup = BeautifulSoup(job_response.text, "html.parser") 
    job_post = {}
    try:
        job_post["job_title"] = job_soup.find("h2", {"class": "top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title"}).text.strip()
    except:
        job_post["job_title"] = None 
    try:    
        job_post["company_name"] = job_soup.find("a", {"class": "topcard__org-name-link topcard__flavor--black-link"}).text.strip()
    except: 
        job_post["company_name"] = None
    try:
        job_post["time_posted"] = job_soup.find("span", {"class": "posted-time-ago__text topcard__flavor--metadata"}).text.strip()
    except:
        job_post["time_posted"] = None
    try:
        job_post["location"] = job_soup.find("span", {"class": "topcard__flavor topcard__flavor--bullet"}).text.strip()
    except: 
        job_post["location"] = None

        
    job_list.append(job_post)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
429
429
429
429
200
429
200
200
429
429
429
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
429
200
200
200
429
429
200
200
429
429
429
200
200
429
429
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
429
200
200
200
200
429
200
200
200
429
429
429
429
429
200
429
200
429
429

In [70]:
id_list

['4102520921',
 '4207547440',
 '4210198397',
 '4210126130',
 '4190232146',
 '4182801229',
 '4205762381',
 '4196341173',
 '4210655674',
 '4210199199',
 '4203172498',
 '4204806049',
 '4185449983',
 '4214656346',
 '4191646978',
 '4182662644',
 '4185416069',
 '4211285296',
 '4212620354',
 '4214539844',
 '4212630156',
 '4194514921',
 '4151067748',
 '4207183659',
 '4161447378',
 '4212993918',
 '3965679824',
 '3997533707',
 '4148666333',
 '4181271263',
 '4201841279',
 '4033390716',
 '4209660056',
 '4207004105',
 '4177825776',
 '4090789749',
 '4211785303',
 '4214023977',
 '3843744921',
 '4212554051',
 '4189590319',
 '4205469866',
 '4208049076',
 '4214964485',
 '4180685245',
 '4181589441',
 '4204743431',
 '4213182137',
 '4208978096',
 '4209656263',
 '4180065056',
 '4212370601',
 '4208892856',
 '4195286941',
 '4198525196',
 '4206858135',
 '4211036020',
 '4177534122',
 '4203219189',
 '4207548655',
 '4177895193',
 '4178737998',
 '4214943006',
 '4152388338',
 '4212305095',
 '4210569815',
 '4204092798',
 '4170110566',
 '4218134418',
 '4214460663',
 '4190392637',
 '4157399242',
 '4209299805',
 '4198529761',
 '4175201166',
 '4203220094',
 '4204080490',
 '4204733599',
 '4209627969',
 '4193157651',
 '4124954997',
 '4199503245',
 '4157397317',
 '4215201085',
 '4176135343',
 '4193989200',
 '4184982765',
 '4197196722',
 '4217261856',
 '4216362223',
 '4217434075',
 '4212372946',
 '4213879336',
 '4213988904',
 '4166076081',
 '4213305907',
 '4211004455',
 '4211402942',
 '4182768387',
 '4209189338',
 '4207354507',
 '4121973276',
 '4207718641',
 '4216348528',
 '4200582561',
 '4171249127',
 '4211025567',
 '4210965957',
 '4200265645',
 '4206540763']

In [20]:
job_list

[{'job_title': 'AI Business Analyst',
  'company_name': 'Mandrill Tech Sdn Bhd',
  'time_posted': '4 months ago',
  'location': 'Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia'},
 {'job_title': 'Machine Learning Engineer',
  'company_name': 'Finexus Group',
  'time_posted': '2 weeks ago',
  'location': 'WP. Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia'},
 {'job_title': 'Intern - Data Scientist (Data Analytics), Mobility',
  'company_name': 'Grab',
  'time_posted': '1 week ago',
  'location': 'Petaling Jaya, Selangor, Malaysia'},
 {'job_title': 'Associate Data Scientist',
  'company_name': 'Snappymob',
  'time_posted': '1 week ago',
  'location': 'Taman Wilayah, Federal Territory of Kuala Lumpur, Malaysia'},
 {'job_title': 'AI Specialist',
  'company_name': 'CelcomDigi',
  'time_posted': '2 weeks ago',
  'location': 'Subang Jaya, Selangor, Malaysia'},
 {'job_title': 'AI Prompt Engineer',
  'company_name': 'World MasterClass',
  'time_posted': '1 month ago',
  'location': 'Puchong, Selangor, Malaysia'},
 {'job_title': 'SEA- Analytics & Digitalization Specialist/ Executive/ Senior Executive',
  'company_name': 'Deloitte',
  'time_posted': '2 weeks ago',
  'location': 'Federal Territory of Kuala Lumpur, Malaysia'},
 {'job_title': 'Data Manager',
  'company_name': 'Teleport',
  'time_posted': '4 weeks ago',
  'location': 'Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia'},
 {'job_title': 'Product Specialist AI/ML',
  'company_name': 'r3 Consultant',
  'time_posted': '1 week ago',
  'location': 'Cyberjaya, Selangor, Malaysia'},
 {'job_title': 'Intern, Data Scientist (Analytics) - Deliveries',
  'company_name': 'Grab',
  'time_posted': '1 week ago',
  'location': 'Petaling Jaya, Selangor, Malaysia'}]

In [71]:
jobs_df = pd.DataFrame(job_list) 
jobs_df

,job_title,company_name,time_posted,location
0,AI Business Analyst,Mandrill Tech Sdn Bhd,4 months ago,"Kuala Lumpur, Federal Territory of Kuala Lumpu..."
1,Machine Learning Engineer,Finexus Group,2 weeks ago,"WP. Kuala Lumpur, Federal Territory of Kuala L..."
2,"Intern - Data Scientist (Data Analytics), Mobi...",Grab,1 week ago,"Petaling Jaya, Selangor, Malaysia"
3,Associate Data Scientist,Snappymob,1 week ago,"Taman Wilayah, Federal Territory of Kuala Lump..."
4,AI Specialist,CelcomDigi,2 weeks ago,"Subang Jaya, Selangor, Malaysia"
...,...,...,...,...
105,Senior AI Specialist,Nexperia,2 days ago,"Seremban, Negri Sembilan, Malaysia"
106,None,None,None,None
107,"Snr Exec/ AM, Facultative Reinsurance Placemen...",Allianz Malaysia,1 week ago,"Kuala Lumpur, Federal Territory of Kuala Lumpu..."
108,None,None,None,None
109,None,None,None,None

In [72]:
jobs_df_clean = jobs_df.dropna(subset=["job_title", "company_name", "location"])

print(f"✅ Total cleaned jobs: {len(jobs_df_clean)}")
jobs_df_clean.head()

✅ Total cleaned jobs: 84

,job_title,company_name,time_posted,location
0,AI Business Analyst,Mandrill Tech Sdn Bhd,4 months ago,"Kuala Lumpur, Federal Territory of Kuala Lumpu..."
1,Machine Learning Engineer,Finexus Group,2 weeks ago,"WP. Kuala Lumpur, Federal Territory of Kuala L..."
2,"Intern - Data Scientist (Data Analytics), Mobi...",Grab,1 week ago,"Petaling Jaya, Selangor, Malaysia"
3,Associate Data Scientist,Snappymob,1 week ago,"Taman Wilayah, Federal Territory of Kuala Lump..."
4,AI Specialist,CelcomDigi,2 weeks ago,"Subang Jaya, Selangor, Malaysia"

In [74]:
jobs_df_clean.loc[:, "time_posted"] = jobs_df_clean["time_posted"].fillna("Not specified")

In [75]:
jobs_df_clean = jobs_df_clean.drop_duplicates()
print(f"✅ Total unique jobs: {len(jobs_df_clean)}")

✅ Total unique jobs: 84